doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(defer type='text/javascript' src='/js/animation.js')
    script(defer type='text/javascript' src='/js/game.js')
  body
    block content
