body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* functional classes */

.transition-1s {
  transition: 1s all;
}

.invisible {
  opacity: 0;
}

.hidden {
  display: off;
}
